<a href="https://colab.research.google.com/github/STClark-jpg/beginning-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

In [4]:
print ("hello world")

hello world

In [5]:
( )

()

In [7]:
# Given two positive integers a and b, each less than 1000, calculate the integer corresponding to the square of the hypotenuse of the right triangle whose legs have lengths a and b.

In [8]:
a, b = map(int, input("Enter two space-separated integers: ").split())

Enter two space-separated integers: 947 936

In [9]:
result = a**2 + b**2

In [10]:
print(result)

1772905

In [14]:
input ("enter your name: ")
print ("Hello, " + name)

enter your name: Taylor
Hello, Taylor

In [15]:
# Given two positive integers a and b, each less than 1000, calculate the integer corresponding to the square of the hypotenuse of the right triangle whose legs have lengths a and b.

In [16]:
a, b = map(int, input("Enter two space-separated integers: ").split())

Enter two space-separated integers: 947 936

In [17]:
result = a**2 + b**2

In [18]:
print(result)

1772905

In [19]:
# Create a list with 3 elements and then print the

my_list = ["Hello", "World", "Charles Darwin"]
print (my_list[1])

World

In [20]:
# Substitute the item at index 2 in the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

In [21]:
# Append an item to the end of the list
my_list.append("Charles Darwin")
print (my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

In [22]:
print (my_list[2:4])

['Alfred R. Wallace', 'Charles Darwin']

In [23]:
my_string = "HelloWorldCharlesDarwinAlfred R. Wallace"
print (my_string[0:5],my_string[5:10])

Hello World

In [43]:
print(my_string[32:40], my_string[5:10])

 Wallace World

In [45]:
# A string s of length at most 200 letters and four integers a,b, c and d. Calculate the slice of this string from indices a through b and c through d (with space in between), inclusively. In other words, we should include elements s[b] and s[d] in our slice.

In [46]:
s = input().strip()

tjrGoTAU251WZgvl6ojNEQN0EirenisZPynqhArQGeefbSdlHo4Qs3zMmP8lzs0BuUpgkrltSgcPxMxkI7zFjYiLdS10eSMMIkTZNJKoHMNaw9TjlhUGEBeNsAIeElIMF4moUautOMNEldkTchTRGjRTKHaDkZgBWnOlgordoninGhJelEwBroTvD2JI7s9HMObuw8T. 24 30 164 170

In [47]:
a, b, c, d = map(int, input().split())

24 30 164 170

In [48]:
part1=s [a:b+1]
part2=s [c:d+1]

In [49]:
print(part1, part2)

Eirenis gordoni